
@{
    ViewData["Title"] = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body {
            background-color: #f5f5f5; /* Màu nền trắng xám */
            color: black; /* Màu chữ đen */
            font-family: Arial, sans-serif;
        }
        .header-text {
            text-align: center;
            margin-top: 20px;
        }

        .content {
            text-align: center;
            font-size: 18px;
            margin-bottom: 40px;
        }

        .roadmap {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 300px; /* Đặt chiều cao tối thiểu để căn giữa */
        }

            .roadmap img {
                max-width: 100%;
                height: auto;
            }
    </style>
}

<h1>GioiThieu</h1>

<div class="container">
    
    <p class="header-text" style="font-style: italic; font-weight: bold">Moji - Phụ kiện và Quà tặng ❤️</p>
    <p class="header-text" style="font-style: italic; font-weight: bold">Thế giới của những điều dễ thương ❤️</p>
    <p class="header-text">
        Xin chào các bạn, Moji - Phụ kiện và Quà tặng là một chuỗi cửa hàng với vô vàn sản phẩm luôn được cập nhật theo xu hướng hot nhất. <br>
        Ở Moji - Phụ kiện và Quà tặng, các bạn có thể tìm thấy rất nhiều items hấp dẫn như gấu bông, văn phòng phẩm, items thời trang, phụ kiện điện thoại, sản phẩm idol, đồ trang sức, đồ gia dụng tiện ích,... Hơn thế nữa, không gian cửa hàng siêu cute cũng khiến các tín đồ sống ảo không thể chối từ. Chẳng còn gì thung thướng hơn việc vừa mua được đồ xinh vừa chụp được những tấm hình check-in long lanh lóng lánh phải hem nào?
    </p>

    <!-- Roadmap Image Section -->
    <div class="roadmap" style="width:908px;display: block; margin: auto;">
        <img src="https://pos.nvncdn.com/cba2a3-7534/art/artCT/20231025_7NJ5ZSlU.jpg" alt="Moji Roadmap">
    </div>
    <p class="header-text">
    Bên cạnh đó, chúng mình cũng có những hoạt động tập thể hấp dẫn để gắn kết các thành viên như Summer trip, Year End Party, trung thu, sinh nhật nhân viên ...</p>
    <div class="roadmap" style="width:908px;display: block; margin: auto;">
        <img src="https://pos.nvncdn.com/cba2a3-7534/art/artCT/20191001_fO5J2w7IMyK83ubekxhN9kY8.jpg" alt="Moji Roadmap">
    </div>
    <div class="roadmap" style="width:908px;display: block; margin: auto;">
        <img src="https://pos.nvncdn.com/cba2a3-7534/art/artCT/20191001_kU8G984CbcqG8r2MdYWUcLOV.jpg" alt="Moji Roadmap">
    </div>
    <p class="header-text">
    Cùng sự nỗ lực không ngừng nghỉ, Moji - Phụ kiện và Quà tặng đã chuyển mình, dần mở rộng và phát triển trở thành chuỗi cửa hàng bán lẻ dẫn đầu trong lĩnh vực kinh doanh Phụ kiện - Quà tặng như hiện nay. Ở Hà Nội và TP. Hồ Chí Minh, các bạn có thể mua sắm thoải mái cả tuần tại 10 chi nhánh:
    </p>
</div>
