@model Project_Summer.DataContext.NhaCungCap

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Thêm mới nhà cung cấp</h1>
@TempData["Message"]
<h4>Tại sản phẩm</h4>
<div class="col-md-9">
    <form asp-action="Create" asp-controller="Provider" enctype="multipart/form-data">
        <div class="form-group">
            <label>Tên công ty</label>
            <input asp-for="TenCongTy" class="form-control" />
            <span asp-validation-for="TenCongTy" class="text-danger" />
        </div>

        <div class="form-group">
            <label>Thông tin liên lạc</label>
            <input asp-for="NguoiLienLac" class="form-control" />
            <span asp-validation-for="NguoiLienLac" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Logo</label>
            <input asp-for="Logo" class="form-control" />
            <span asp-validation-for="Logo" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Số điện thoại</label>
            <input asp-for="DienThoai" class="form-control" />
            <span asp-validation-for="DienThoai" class="text-danger" />
        </div>

        <div class="form-group">
            <label>Địa chỉ</label>
            <input asp-for="DiaChi" class="form-control" />
            <span asp-validation-for="DiaChi" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Mô tả</label>
            <textarea asp-for="MoTa" class="form-control"></textarea>
            <span asp-validation-for="MoTa" class="text-danger" />
        </div>
        <div class="form-group ">
            <button type="submit" class="btn btn-primary ">Tạo sản phẩm</button>
        </div>

    </form>

</div>

