@model Project_Summer.DataContext.NhaCungCap
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h1>Chỉnh sửa thông tin Nhà cung cấp</h1>
@TempData["Message"]
<div class="col-md-9">
    <form asp-action="Edit" asp-controller="Provider" enctype="multipart/form-data">
        <div class="form-group">
            <label>Tên Coong ty</label>
            <input asp-for="TenCongTy" class="form-control" />
            <span asp-validation-for="TenCongTy" class="text-danger" />
        </div>

        <div class="form-group">
            <label>Logo đại diện</label>
            <input asp-for="Logo" class="form-control" />
            <span asp-validation-for="Logo" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Người liên lạc</label>
            <input asp-for="NguoiLienLac" class="form-control" />
            <span asp-validation-for="NguoiLienLac" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Số điện thoại</label>
            <input asp-for="DienThoai" class="form-control" />
            <span asp-validation-for="DienThoai" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Địa chỉ</label>
            <input asp-for="DiaChi" class="form-control" />
            <span asp-validation-for="DiaChi" class="text-danger" />
        </div>

        <div class="form-group">
            <label>Mô tả</label>
            <textarea asp-for="MoTa" class="form-control"></textarea>
            <span asp-validation-for="MoTa" class="text-danger" />
        </div>
        <div class="form-group ">
            <button type="submit" class="btn btn-primary ">Lưu Nhà cung cấp</button>
        </div>

    </form>

</div>


